{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Emp MX Admin</h1>
                    <h3>Hey man, welcome to the admin, we all love them, don't we</h3>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
